@import url(menu.css);
@import url(banner.css);
@import url(portafolio.css);
@import url(contacto.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Sans Serif', Times, serif;
}

header{
    width: 100%;
    height: 200px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background:rgb(123, 123, 150);
}

.contenedor{
    width: 98%;
    margin: 0 auto;
}

.logo-nav-container{
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
}

.logo{
    padding-top: 10px;
    float: left; 
    text-align: center;
    padding-left: 25px;
}

.logo img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

h1{
    margin-bottom: 20px;
}



section{
    width: 100%;
    margin-bottom: 25px;
}

#Nosotros{
    height: 1000px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 120px;
    padding-bottom: 50px;
    margin-top: -25px;
    font-size:30px;

}

#Nosotros p{
    padding-bottom:250px;
}

#Nosotros h2{
 text-align: center;
 margin-bottom: 20px;
 border-bottom: solid 2px #000;
 font-size: 36px;
}

#Parallax-1{
 margin-top: -220px;
 padding-top: -50px;
}

.texto-parallax{
    font-size: 30px;
    text-align: center;
    padding-top: 150px;
}

#Imagina-parallax{
    width: 250px;
    font-size: 25px;
    text-align: center;
    padding-top: 120px;
    margin-left: 60px;
}

#Footer{
    text-align: center;
    background: #333;
    color: white;
    padding: 2em;
    font-size: 20px;
}

.social-icon i{
    color: #fff;
}

/* Estilos Responsive */

@media screen and (min-width:360px){
 #Nosotros{
    margin-top: -120px;
    font-size: 28px;
 }

 .texto-parallax{
    margin-left: -60px;
 }
  

}


@media screen and (min-width:412px){
   .texto-parallax{
    margin-left: 50px;
   } 
    
}



@media screen and (min-width:480px) {
    #Imagina-parallax{
        /*  */
        margin-right: 500px;
    }

}

@media screen and (min-width: 375px){
   
    #Imagina-parallax{
        margin-left: 5px;
    }

    #Nosotros{
        margin-top: -120px;
        /* margin-bottom: 200px; */
        font-size: 27px;
    }

    .texto-parallax{
        width: 300px;
        text-align: center;
        margin: 0 auto;
    }
}


@media screen and (min-width:390px) {
    .texto-parallax{
        margin-left: 30px;
    }
}

@media screen and (min-width: 768px){
    
    #Nosotros h2{
        font-size: 40px;
        
    }

    /* #Imagina-parallax{
        margin-left: -1900px;
        font-size: 30px;
    } */

    iframe{
        width: 500px;
        margin-left: -130px;
        margin-top: 20px;
    }

       
}

@media screen and (min-width:912px){
    #Imagina-parallax{
        margin-left: 122px;
    }
}

@media screen and (min-width: 1024px){
    .contenedor{
        width: 1000px;
    }

    #Imagina-parallax{
        margin-left: 400px;
        font-size: 30px;
    }

    iframe{
        width: 500px;
        margin-left: -130px;
        margin-top: 20px;
    }

    #Nosotros{
        margin-top: 105px;
    }
}

